.home{
    height: 100vh;
    background-image: url(https://www.teahub.io/photos/full/88-885387_android-developer-wallpaper-hd.jpg);
    background-size: cover;
}
#home-text {
    text-align: center;
    position: absolute;
    top: 70%;
    left: 50%;
    color: white;
    transform: translate(-50%,-50%);
}
#about ul li{
    list-style:none ;
    padding: 3px;
    margin: 5px;
    
}
#about ul li::before {
    content: "☑"; /* Insert content that looks like bullets */
    padding-right: 5px;
    color: blue; /* Or a color you prefer */
  }
label{
    width: 90px;
    
}
.card{
    height: 400px;
}